<!-- <md-toolbar id="navBar"> -->
  <!-- <div id="navBar" class="md-toolbar-tools" layout-xs="row" > -->
<div layout-xs="row" layout-align="center center" class="navigationBar">
    <md-button id="navButton" href="#/user"class="md-icon-button" aria-label="Home">
      <md-icon md-svg-icon="../images/home.svg"></md-icon>
    </md-button>
    <md-button id="navButton" href="#/mypantries" class="md-icon-button" aria-label="Pantry">
      <md-icon  md-svg-icon="../images/kitchen.svg"></md-icon>
    </md-button>
    <md-button id="navButton" href="#/additems" class="md-icon-button" aria-label="Items">
      <md-icon md-svg-icon="../images/list.svg"></md-icon>
    </md-button>
    <md-button id="navButton" href="#/shoppinglist" class="md-icon-button" aria-label="Shopping List">
      <md-icon md-svg-icon="../images/shopping_cart.svg"></md-icon>
    </md-button>
    <md-button id="navButton" href="#/usersetup" class="md-icon-button" aria-label="Settings">
      <md-icon md-svg-icon="../images/settings.svg"></md-icon>
    </md-button>
    <md-button id="navButton" href="#/home" class="md-icon-button" aria-label="Exit">
      <md-icon md-svg-icon="../images/exit_to_app.svg"></md-icon>
    </md-button>
</div>

  <!-- </div> -->
<!-- </md-toolbar> -->

