<md-toolbar>
  <div class="md-toolbar-tools" layout-xs="row" layout-align="center center">
    <md-button href="#/user" aria-label="Home">Home</md-button>
    <md-button href="#/mypantries" aria-label="My Pantries">My Pantries</md-button>
    <md-button href="#/additems" aria-label="Add Items">Add Items</md-button>
    <md-button href="#/shoppinglist" aria-label="Shopping Lists">Shopping Lists</md-button>
    <md-button href="#/usersetup" aria-label="User Setup">User Setup</md-button>
  </div>
</md-toolbar>