<div class="navbar">
  <md-content class="md-padding">
    <md-nav-bar
      md-selected-nav-item="currentNavItem" 
      nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-href="#/user">Home</md-nav-item>  
        <md-nav-item md-nav-href="#/mypantries">My Pantries</md-nav-item>
        <!-- <md-nav-item md-nav-href="#/info">Info Page</md-nav-item> -->
        <md-nav-item md-nav-href="#/additems">Add Items</md-nav-item>
        <md-nav-item md-nav-href="#/shoppinglist">Shopping List</md-nav-item>
        <md-nav-item md-nav-href="#/usersetup">Setup</md-nav-item>
    </md-nav-bar>
