<div ng-include="'views/partials/nav.html'"></div>
<!-- Navigation Above -->

<div layout-xs="column">
    <div>
        <md-autocomplete 
            md-selected-item="aic.selectedItem" 
            md-search-text="aic.searchText" 
            md-items="item in aic.querySearch(aic.searchText)"
            md-item-text="item.item_name"
            md-selected-item-change="ctrl.selectedItemChange(item)"
            placeholder="Search by Item Name"
            md-match-case-insensitive=true
            md-min-length="2">
            <md-item-template>
                <span md-highlight-text="searchText">{{item.item_name}}</span>
            </md-item-template>    
        </md-autocomplete>

        <md-input-container>
            <label for="itemName">Item Name:</label>
            <br>
            <input id="itemName" ng-model="aic.item.itemName" type="text">
        </md-input-container>

        <md-input-container>
            <label for="itemQuantity">Quantity:</label>
            <br>
            <input id="itemQuantity" ng-model="aic.item.itemQuantity" type="number">
        </md-input-container>

        <md-input-container>
            <label for="reminderQty">Reminder Quantity:</label>
            <br>
            <input id="reminderQty" ng-model="aic.item.reminderQuantity" type="number">
        </md-input-container>
        <br>
        <md-input-container>
            <label for="itemStore">Store</label>
            <md-select id="itemStore" ng-model="aic.item.itemStore">
                <md-option>None</md-option>
                <md-option ng-repeat="store in aic.userStoreList.allstores" ng-value="store.store_id">{{store.label}}</md-option>
            </md-select>
        </md-input-container>

        <md-input-container>
            <label for="itemPantry">Pantry</label>
            <md-select id="itemPantry" ng-model="aic.item.itemPantry" >
                <md-option>None</md-option>
                <md-option ng-repeat="pantry in aic.userPantryList.allpantries" ng-value="pantry.pantry_id">{{pantry.label}}</md-option>
            </md-select>
        </md-input-container>

        <md-button ng-click="aic.addItem(aic.item)">Add Item</md-button>
    </div>
</div>