<div ng-include="'views/partials/nav.html'"></div>
<!-- Navigation Above -->

<layout-xs>
    <md-input-container>
        <label for="">Item Name:</label>
        <input type="text">
    </md-input-container>
    <md-input-container>
        <label for="">Quantity:</label>
        <input type="number">
    </md-input-container>
    <md-input-container>
        <label for="">Store Purchased:</label>
        <input type="text"><!-- Will be drop down of stores to select from -->
    </md-input-container>
    
</layout-xs>
