<md-dialog aria-label="Add to Shopping List">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                Add to Shopping List
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                Select a store:
            </div>
            <md-button ng-click="aic.closeShopList()">Do Not Add</md-button>
            <div ng-repeat="store in aic.userStoreList.allstores track by $index">
                <!-- <div flex> -->
                    
                    <md-button ng-click="aic.addItemToShopList(store.store_id, shoppingListItemId)">{{store.label}}</md-button>
                <!-- </div> -->
            </div>
        
        </md-dialog-actions>
    </form>
</md-dialog>