<md-dialog aria-label="Edit Item">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                Edit Item
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <div ng-repeat="item in aic.getItemForEdit">
                    <md-input-container>
                        <label for="itemName">Item Name</label>
                        <input id="itemName"  ng-model="item.item_name" type="text">
                    </md-input-container>
                    <md-button id="iconButtons" ng-click="aic.openImage(item.item_image)" ng-href="{{item.item_image}}" class="md-icon-button md-primary" aria-label="Settings">
                        <md-icon md-svg-icon="../images/photopick.svg"></md-icon>
                    </md-button>
                    <md-input-container ng-hide="aic.addEditItem">
                        <label for="reminderQty">Reminder Quantity</label>
                        <input id="reminderQty" ng-model="item.min_quantity" type="number">
                    </md-input-container>
                </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="aic.updateItemName">
                Update Item
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>