<md-dialog aria-label="Edit Item">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                Edit Item
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <div layout="row" ng-repeat="pantry in aic.itemStock track by $index">
                    {{aic.itemStock.totals}}
                    <p>{{pantry.label}}</p>
                    <md-input-container>
                        <label for="pantryQty">Quantity:</label>
                        <input id="pantryQty" ng-blur="aic.updatePantryQty(pantry, aic.selectedItem)" ng-model="pantry.quantity" type="number">
                    </md-input-container>
                </div>
                <!-- add a hide show here for when the stock totals run -->
                <md-input-container ng-hide="aic.addEditItem">
                    <label for="reminderQty">Reminder Quantity:</label>
                    <br>
                    <input id="reminderQty" ng-model="aic.minimumQty" ng-blur="aic.updateMinQty(aic.selectedItem, aic.minimumQty)" type="number">
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            
        </md-dialog-actions>
    </form>
</md-dialog>