<div layout-xs="column">
    <div layout="row" layout-align="center">
        <h1 class="lead">Login</h1>
        <h1 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
    </div>
        <!-- <form layout="column" ng-submit="lc.login()"> -->
            <md-input-container>
                <label for="username">Username</label>
                <br>
                <input id="username" ng-model="lc.user.username" type="text">
            </md-input-container>
            <md-input-container>
                <label for="password">Password</label>
                <br>
                <input id="password" ng-model="lc.user.password" type="text">
            </md-input-container>
            <!-- <md-button ng-click="aic.addNewItemToPantry(aic.searchText, aic.userPantryList.allpantries, aic.minimumQty)">Add Item to Pantry</md-button> -->
            <md-button class="md-raised" ng-click="lc.login()">
                Login
            </md-button>
            <a href="#register">Register</a>
            <!-- <div layout="row" layout-align="center">
                <input class="btn btn-default" type="submit" name="submit" value="Log In" />
                <a href="#register">Register</a>
            </div> -->
        <!-- </form> -->
</div>