<div ng-controller="NotificationsController as nc" id="popupContainer" ng-cloak="" ng-app="app">
    <md-dialog aria-label="Print Report">
        <form ng-cloak>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    Add item to Shopping List?
                </div>
            </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
            All the contents goes here
            <md-input-container>
                <label>Select Store</label>
                <md-select ng-model="ng.chosenOption">
                <md-option ng-repeat="store in nc.stores" ng-value="option">
                    {{store}}
                </md-option>
            	</md-select>
            </md-input-container>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            All the dialog actions goes here
        </md-dialog-actions>
    </form>
    </md-dialog>
</div>