<div ng-include="'views/partials/nav.html'"></div>
<!-- Navigation Above -->

<div ng-repeat="item in slc.purchasedItems.allitems track by $index">
    <!-- <md-input-container id="itemName">
        <label for="itemName">Name</label>
        <input id="itemName" ng-model="item.item_name" type="text">
    </md-input-container> -->
    <div>{{item.item_name}}</div>

    <md-input-container id="purchasedAmount">
        <label for="purchasedAmount">Purchased Quantity</label>
        <input id="purchasedAmount" ng-model="item.purchased_amount" type="number">
    </md-input-container>

    <div ng-repeat="pantry in slc.userPantryList.allpantries track by $index">
        <div>{{pantry.label}}</div> 
        <md-input-container>
            <label for="pantryQty">Quantity</label>
            <input ng-blur="slc.itemPantryLocation(item.item_id, pantry)" id="pantryQty" ng-model="pantry.quantity" type="number">
        </md-input-container>
    </div>
    <md-button ng-click="slc.addItemtoPantries(item)">Update Item</md-button>
    <br>
</div>
