<div ng-include="'views/partials/nav.html'"></div>
<!-- Navigation Above -->
<div ng-show="slc.updateItems">
<div  ng-repeat="item in slc.purchasedItems.allitems">
    <!-- <div ng-if="slc.item_index == $index"> -->
    <div layout-xs="row">
            <!-- {{slc.purchasedItems.allitems}} -->
            <p>Item Purchased: <span>{{item.item_name}}</span></p>
        <md-input-container id="purchasedAmount">
            <label for="purchasedAmount">Purchased Quantity</label>
            <input id="purchasedAmount" ng-model="item.purchased_amount" type="number">
        </md-input-container>
    </div>  
</div>
<div ng-repeat="pantry in slc.userPantryList.allpantries track by $index">
    <div layout-xs="row">
        <p>{{pantry.label}}</p> 
        <md-input-container id="purchaseAdds">
            <label for="pantryQty">Quantity</label>
            <input  ng-model="pantry.quantity" type="number">
        </md-input-container>
    </div>
</div>
<md-button ng-click="slc.addItemtoPantries(slc.purchasedItems.allitems, slc.userPantryList.allpantries)">Add Item</md-button>
</div>


<div ng-hide="slc.updateItems">
    <p>All of your items have been added to your pantries!</p>
</div>
