<div ng-include="'views/partials/nav.html'"></div>
<!-- Navigation Above -->

<div class="chipHolder"
    <p>My Stores:</p>
    <md-chips placeholder="Enter a new store" class="custom-chips" 
        ng-model="usc.userStoreList.allstores" 
        md-transform-chip = "usc.newStore($chip)" 
        md-on-add="usc.saveStore($chip)"
        md-on-remove="usc.removeStore($chip)">
        <md-chip-template>
            <span>
                {{$chip.label}}
            </span>
        </md-chip-template>
    </md-chips>
</div>

<div class="chipHolder">
    <p>My Pantries:</p>
    <md-chips placeholder="Enter a new pantry" class="custom-chips" 
        ng-model="usc.userPantryList.allpantries" 
        md-transform-chip="usc.newPantry($chip)" 
        md-on-add="usc.savePantry($chip)"
        md-on-remove="usc.removePantry($chip)">
        <md-chip-template>
            <span>
                {{$chip.label}}
            </span>
        </md-chip-template>
    </md-chips>
</div>
